.dateRelativePosition {
  width: 100%;
  position: relative;
   min-height:320px;
}
.dateAbsolutePosition {
  background-color: black;
  width: 80%;
  position: absolute;
  left: 9%;
  top: -10vh;
  z-index: 2;
  @include up-size(766) {
    top:0;
    left: 0;
    width: 100%;
  }
}
.dateContent {
  width: 100%;
  margin: 30px auto;
  
  @include up-size(766) {
    width: 100%;
    flex-direction: column;
  }
}
.checkIn,.checkOut,.rooms {
  width: 32%;
  @include up-size(766) {
    width: 100%;
  }
}

.dateContent label {
  display: block;
  text-align: center;
  color: $navColor;
  margin: 5px;
}
.dateContent input {
  width: 100%;
  min-height: 90px;
  background-color: $lightGray;
  color: $navColor;
  border: 1px solid $lightGray;
}
.dateContent input::placeholder {
  text-align: center;
  font-size: 14px;
}
.btnDate {
  display: grid;
  margin: auto;
  width: 150px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btnDate button {
  background-color: $navBackgroundColor;
  color: #6fb586;
  border: 1px solid #6fb586;
}
.modal {  
  display: none;
  top: 0;
  min-width: 250px;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  position: fixed;
  z-index: 40001;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
  margin-top: 30px;
  margin-left: 10%;
  animation-name: fadeIn_Modal;
  animation-duration: 0.8s;  
  @include up-size(766) {
    width: 97%;
   margin:0 auto;
  }

}

.modalHeader {
  width: 100%;
  height: 70px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 2px solid #ccc;
}

.modalHeader a {
  text-decoration: none;
  float: right;
  line-height: 70px;
  margin-right: 20px;
  color: #aaa;
}

.modal .content {
  width: 100%;
  height: 250px;
}
.content table{
width: 100%;
}
.content table, th, td {
  border: 1px solid;
}
.content th, td {
  padding: 15px;
  text-align: center;
  @include up-size(766) {
    padding: 2px;
  }
}

.modalHeader{
  background-color: lightgray;
}
.cancel{
  color: red !important;
}
.cancel::after{
  border: 1px solid red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-block;
    text-align: center;
    line-height: 36px;
}

// ::backdrop-filter: